<div class="tabs is-centered mb-5">
  <ul>
    <li {{#if active.data}} class="is-active" {{/if}}>
      <a {{#unless active.data}} href="./main{{#if branch}}?branch={{branch}}{{/if}}" {{/unless}}>
        <span class="icon is-small is-hidden-mobile"><i class="fas fa-file-alt"></i></span>
        <span>Data</span>
      </a>
    </li>
    <li {{#if active.text}} class="is-active" {{/if}} class="is-hidden">
      <a {{#unless active.text}} href="./text{{#if branch}}?branch={{branch}}{{/if}}" {{/unless}}>
        <span class="icon is-small is-hidden-mobile"><i class="fas fa-paragraph"></i></span>
        <span>Text</span>
      </a>
    </li>
    {{#if images}}
    <li {{#if active.images}} class="is-active" {{/if}}>
      <a {{#unless images.noImages}}{{#unless active.images}}href="{{#if images.iiif}}./viewer{{#if branch}}?branch={{branch}}{{/if}}{{/if}}{{#if images.url}}{{images.url}}{{/if}}"{{/unless}}{{else}}class="has-text-grey"{{/unless}} {{#if images.url}}target="_blank"{{/if}}>
        <span class="icon is-small is-hidden-mobile"><i class="fas fa-image"></i></span>
        <span>Images</span>
      </a>
    </li>
    {{/if}}
    <li {{#if active.xml}}class="is-active"{{/if}}>
      <a {{#unless active.xml}} href="./xml{{#if branch}}?branch={{branch}}{{/if}}"{{/unless}}>
        <span class="icon is-small is-hidden-mobile"><i class="fas fa-file-code"></i></span>
        <span>XML</span>
      </a>
    </li>
    <li>
      <a href="{{github}}" target="_blank">
        <span class="icon is-small is-hidden-mobile"><i class="fab fa-github"></i></span>
        <span class="is-hidden-mobile">GitHub</span>
        <span class="is-hidden-tablet">GH</span>
      </a>
    </li>
    <li>
      <a href="{{betamasaheft}}" target="_blank">
        <span class="icon is-small is-hidden-mobile"><i class="fas fa-share"></i></span>
        <span class="is-hidden-touch">Beta Masaḥǝft</span>
        <span class="is-hidden-mobile is-hidden-desktop">BetMas</span>
        <span class="is-hidden-tablet">BM</span>
      </a>
    </li>
  </ul>
</div>