<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="license" href="//creativecommons.org/licenses/by-sa/4.0/">
  <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">

  <title>{{#if subtitle}}{{subtitle}} | {{/if}}Mazgaba Maṣāḥǝft</title>
  
  
  <link rel="stylesheet" type="text/css" href="/styles/style.sass">

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
</head>
<body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

  {{> navbar}}
  
  <section class="section">
    <div class="container">

      <div class="level">
        <div class="level-left">
          <div class="level-item" style="justify-content: normal;">
            <div class="content">
              <p class="title is-3">{{title}}</p>
              <p class="subtitle is-5">{{subtitle}}</p>
            </div>
          </div>
        </div>

        <div class="level-right">
          <div class="level-item">
            {{#if recordId}}
            <form class="is-pulled-right">
              <div class="field has-addons has-addons-centered">
                <div class="control is-hidden-mobile">
                  <a class="button is-static is-small">Branch:</a>
                </div>
                <div class="control">
                  <div class="select is-small">
                    <select name="branch">
                      <option disabled>Branch:</option>
                      {{#each branches as |branch|}}
                      <option {{#if branch.current}}selected{{/if}}>{{branch.name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="control">
                  <button type="submit" class="button is-info is-small">Change</button>
                </div>
              </div>
            </form>
            {{/if}}
          </div>
        </div>
      </div>

      {{#if tabs}}{{> tabs tabs branch=branch}}{{/if}}

      {{{body}}}

    </div>
  </section>

  {{> footer}}

</body>
</html>