<form method="GET" class="block">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <label class="checkbox mr-5">
            <input type="checkbox" id="all" {{#if checked.works}}{{#if checked.manuscripts}}{{#if checked.persons}}checked{{/if}}{{/if}}{{/if}}>
            All
          </label>
          <label class="checkbox mr-5">
            <input type="checkbox" id="works" {{#if checked.works}}checked{{/if}}>
            Works
          </label>
          <label class="checkbox mr-5">
            <input type="checkbox" id="manuscripts" {{#if checked.manuscripts}}checked{{/if}}>
            Manuscripts
          </label>
          <label class="checkbox mr-5">
            <input type="checkbox" id="persons" {{#if checked.persons}}checked{{/if}}>
            Persons
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="field has-addons has-addons-centered">
    <div class="control is-expanded">
      <input id="q" name="q" class="input" type="search" placeholder="Search..." value="{{#if query}}{{query}}{{/if}}" required>
    </div>
    <div class="control">
      <input type="hidden" name="type" />
      <button type="submit" class="button is-info">Search</button>
    </div>
  </div>
</form>

{{#if resultString}}
<h6 class="title is-6">{{resultString}}</h6>
{{/if}}

{{#each results as |result|}}
<div class="card block">
  <div class="card-content">
    <p class="title is-6"><a href="/{{result.type}}/{{result.id}}">{{result.id}}</a></p>
    
    {{#each result.text_matches as |match|}}
    <div class="content block">
      <code>{{match.fragment}}</code>
    </div>
    {{/each}}
  </div>
</div>
{{/each}}

<script>
  $(document).ready(function(){
    var types = [];
    $('input[type="checkbox"]').each(function(){
      if($(this).is(':checked') && $(this).attr('id') != 'all') types.push($(this).attr('id'));
    });
    $('input[name="type"]').val(types.join('-').replace(/^\-/g, ''));

    $('input[type="checkbox"]').change(function(){
      var types = $('input[name="type"]').val().split('-');

      if($(this).attr('id') == 'all') {
        if($(this).is(':checked')) {
          $('input[type="checkbox"]').prop('checked', true);
          types = ["works", "manuscripts", "persons"];
        }
        else {
          $('input[type="checkbox"]').prop('checked', false);
          types = [];
        }
      }

      else {
        if($(this).is(':checked')) types.push($(this).attr('id'));
        else {
          var index = types.indexOf($(this).attr('id'));
          if(index > -1) types.splice(index, 1);
        }

        if($('input#works').is(':checked') && $('input#manuscripts').is(':checked') && $('input#persons').is(':checked')) $('input#all').prop('checked', true);
        else $('input#all').prop('checked', false);
      }

      $('input[name="type"]').val(types.join('-').replace(/^\-/g, ''));
    });
  });
</script>